[submodule "backend-stunting-app"]
	path = backend-stunting-app
	url = https://github.com/prinsereen/backend-stunting-app.git
[submodule "fe-stunting-app"]
	path = fe-stunting-app
	url = https://github.com/prinsereen/fe-stunting-app.git
